name: $(SourceBranchName)_$(Build.SourceVersion)

trigger:
 branches:
    include:
      - main

pr: none

pool:
  vmImage: 'ubuntu-24.04'

steps:
- script: |
    aws ecr get-login-password --region $(AWS_REGION) | docker login --username AWS --password-stdin $(AWS_ACCOUNTID).dkr.ecr.$(AWS_REGION).amazonaws.com
  displayName: 'Login to Aws and ECR'
  env:
    AWS_ACCESSKEYID: $(AWS_ACCESSKEYID)
    AWS_SECRETACCESSKEY: $(AWS_SECRETACCESSKEY)

- task: Bash@3
  displayName: Build app with Docker
  inputs:
      targetType: 'inline'
      script: |
        docker build -t $(DOCKER_REPOSITORYNAME) .

- task: Bash@3
  displayName: 'Scan Docker Image with Trivy'
  inputs:
    targetType: 'inline'
    script: |
      # Install Trivy
      sudo apt-get update
      sudo apt-get install -y wget gnupg2 jq

      # Donwload trivy
      wget https://github.com/aquasecurity/trivy/releases/download/v0.67.0/trivy_0.67.0_Linux-64bit.deb
      sudo dpkg -i trivy_0.67.0_Linux-64bit.deb

      SCAN_RESULT=$(trivy image --severity HIGH,CRITICAL --no-progress --format json "common-amazons3")
      echo "$SCAN_RESULT" > trivy-report.json
      echo "Scan report:"
      echo "$SCAN_RESULT"

      declare -A severity_counts
      for sev in CRITICAL HIGH MEDIUM LOW; do
        count=$(jq --arg sev "$sev" '[.. | getpath(["Vulnerabilities"])? // [] | .[] | select(.Severity==$sev)] | length' trivy-report.json)
        severity_counts[$sev]=$count
      done

      echo "Resumen de vulnerabilidades por severidad:"
      for sev in "${!severity_counts[@]}"; do
        echo "$sev: ${severity_counts[$sev]}"
      done

- task: Bash@3
  displayName: Push app container image to ECR
  inputs:
    targetType: 'inline'
    script: |
      echo "GIT COMMIT IS: $(Build.SourceVersion)"
      docker tag $(DOCKER_REPOSITORYNAME):latest $(AWS_ACCOUNTID).dkr.ecr.$(AWS_REGION).amazonaws.com/$(DOCKER_REPOSITORYNAME):$(Build.SourceVersion)
      docker push $(AWS_ACCOUNTID).dkr.ecr.$(AWS_REGION).amazonaws.com/$(DOCKER_REPOSITORYNAME):$(Build.SourceVersion)